body {
  font-family: 'Montserrat', sans-serif !important;
}
a:hover {
  text-decoration: none !important;
  color: inherit;
}
img {
  width: 100%;
  height: auto;
}
a {
  color: #050505;
  font-weight: 600;
}
.disabled-step {
  color: rgb(83, 79, 79) !important;
}
